
 :root{
    /* CSS PALETTE DE COULEUR*/
    --color-space-cadet: #F3F0F2;
    --color-space-pink:#F7E9E4;
    --color-space-princesse:#FBB9AB;
     --color-space-blue:#BAD1E6;
    --color-space-ocean:#D4E4F2;
    --color-space-sky:#E7EDF7;
    }