@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
	font-family: 'Barlow Condensed', sans-serif;
}
html body{
	background: var(--color-space-ocean);
	
}
/* formulaire en flex*/
.form{
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 520px;
	background-color: var(--color-space-princesse);
	align-items: center;
	border-radius: 10px;
	margin: auto;
	margin-top: 100px;
}
/* on s'occupe de l'image poney au dessus du formulaire*/
.form img{
	height: 75px;
	width: 75px;
	margin-top:-35px;
}
/* puis du titre "connexion*/
.form h1{
	font-size: 2.2rem;
	margin: 20px;
	text-transform: uppercase;
    color: var(--color-space-cadet);
    font-weight: bold;
}

/* les input box*/
.box{
	padding: 12px;
	margin: 15px;
	width: 65%;
	border: none;
	border-radius: 20px;
}
/*on s'occupe du button se connexion*/
#btn_login{
	padding: 12px;
	border-radius: 20px;
	width: 50%;
	margin: 10px;
	font-size: 1rem;
	font-weight: bolder;
	border: none;
	background: linear-gradient(45deg, #87adfe,#ff77CD);
	color:var(--color-space-cadet);
}
/*petit hoover très léger du btn_login*/
#submit:hover{
	cursor: pointer;
	color: var(--color-space-cadet);
}
/* puis on s'occupe de la petite phrase du mdp*/
.form a{
	text-decoration: none;
	color: var(--color-space-cadet);
	font-weight: bolder;
}
/* petit hover pour la phrase mdp*/
.form a:hover{
	color: var(--color-space-cadet);
}