@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}
html body{
    background: var(--color-space-ocean);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.Logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background: var(--color-space-princesse);
    margin: 5px;
    transition: all 0.3s ease;
}
nav ul button{
    float: right;
    height: 25px;
    width: 25px;
    background: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(252, 252, 252);
    font-size: 17px;
    border: none;
    cursor: pointer;
}
nav ul input{
    background: 0;
    border: none;
    outline: none;
    width: 150px;
    border: 0;
    height: 25px;
    font-size: 20px;
    background-color: rgb(252, 252, 252);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--color-space-princesse);
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .sign{
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #87adfe,#ff77CD);
}
.content p{
    font-size: 20px;
}
.poney-icon{
    height: 70%;
    position: absolute;
    top: 25%;
    left: 55%;
    transition: transform 0.5s;
}
.poney-icon:hover{
    transform: translate(-10px);
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        background: var(--color-space-princesse);
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .poney-icon{
        display: none;
    }

}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
#block{
    margin: 20px 40px;
    position: relative;
    top: calc(100px + 50vh);
}
.head{
    font-size: 40px;
    color: var(--color-space-princesse);
}
.head span{
    font-size: 30px;
}
.profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile{
    flex-basis: 260px;
}
.profile .profile-img{
    height: 200px;
    width: 200px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
} 
.profile:hover .profile-img{
    filter: grayscale(0);
}
.user{
    margin-top: 30px;
    font-size: 35px;
    letter-spacing: 3px;
    color: var(--color-space-princesse);
    font-weight: bold;
}
.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    font-weight: bold;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
@media screen and (max-width: 1024px) {
    .profiles {
      flex-direction: column;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile p {
      text-align: center;
      margin: 20px 60px 80px 60px;
      font-size: 20px;
    }
    .block{
        position: relative;
        top: calc(100px + 98vh);
    }
  }
  
  @media screen and (max-width: 900px) {
    .heading {
      font-size: 40px;
      text-align: center;
    }
  
    .head span {
      font-size: 15px;
    }
  
    .profiles {
      margin: 20px 0;
    }
  
    .profile p {
      margin: 20px 10px 80px 10px;
    }
  }
  footer p{
    padding:0;
    font-size: 0.8em;
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 1em; 
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 100ms;
}

footer{
    position: relative;
    top: calc(100px + 98vh);
    width: 100%;
    background: var(--color-space-princesse);
    color:var(--color-space-cadet); 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}
